<div class="row">
        <div class="col-3">
            <div class="footer--menu">
                <h5>Light card title</h5>
                <nav class="nav flex-column">
                    <a class="nav-link" href="#">Active</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </nav>
            </div>
        </div>
        <div class="col-6">
                <p class="footer--text_center">Rômulo Franklin de Meira Ramos </p>
                <p class="footer--text_center">
                    ©2019 Copyright, todos os direitos reservados
                </p>
        </div>
        <div class="col-3">
            
        </div>
    
</div>