{% extends 'website/base.html' %}

{% block main %}

    <div class="row">
        <div class="col-6">
            <h1>Estacionamento 24 Horas</h1>
            <span>Eslogan da Empresa Aqui</span>
        </div>
        <div class="col-6">
            <img src="" alt="Colocar a imagem aqui depois">
        </div>
    </div>

    {% include 'website/menu.html' %}

    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            
        </div>
    </div>

{% endblock%}