.footer {
    /* position: fixed; */
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 70%
    /* text-align: center; */
  }
.footer.menu{
    text-align: left;
    /* vertical-align: text-top; */
}
.footer.text_center{
    text-align: center;
}