{% extends 'base.html' %}

{% block main %}
    <h2>Lista Mensalistas</h2>

    <ul>
        {% for item_da_vez in mensalistas %}
        <li>
            <a href = "{% url 'core_mensalistas_update' item_da_vez.id%}" >  {{item_da_vez.inicio}} - {{item_da_vez.veiculo.placa}} </a> 
        </li>
        {%endfor%}
    </ul>

    <form action="{% url 'core_mensalistas_novo' %}" method="POST">
        {% csrf_token %}
        
        {{form.as_p}}
        
        <button type="submit">Cadastrar</button> 
    </form>

{% endblock %}