{% extends 'base.html' %}

{% block main %}

<div class="row">

    <div class="col">

        <h2> Tem certeza que deseja deletar: {{movRotativos}}?</h2>
    
        <form method="POST" action="{% url 'core_movRotativos_delete' movRotativos.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Deletar</button>
            <a href="{% url 'core_movRotativos_update' movRotativos.id %}" class="btn btn-primary">Cancelar</a>
        </form>

    </div>
</div>
{% endblock %}