{% extends 'base.html' %}
{% load bootstrap %}

{%block menu%}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
            <div class="dropdown-menu">
                <a class="dropdown-item active" href="{% url 'core_pessoa_lista' %}">Clientes</a>
                <a class="dropdown-item" href="{% url 'core_veiculo_lista' %}">Veículos</a>
                <a class="dropdown-item" href="{% url 'core_movRotativos_lista' %}">Movimento Rotativo</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'core_mensalistas_lista' %}">Mensalistas</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Logout</a>
        </li>
    </ul>
{%endblock%}

{% block main %}
    <div class="row">
        <div class="col-sm-6" style="padding-top: 1rem">
            <form action="{% url 'core_pessoa_novo' %}" method="POST">
                {% csrf_token %}
        
                {{ form|bootstrap }}
        
                <button type="submit" class="btn btn-primary">Cadastrar</button> 
            </form>
        </div>
        
        <div class="col-sm-6">
            <h1>Lista Pessoas</h1>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pessoa in pessoas %}
                    <tr onclick="location.href = '{% url 'core_pessoa_update' pessoa.id%}';">
                        <th scope="row">{{pessoa.id}}</th>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.endereco}}</td>
                        <td>{{pessoa.telefone}}</td>
                    </tr>
                
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock%}