{% extends 'base.html' %}

{%block menu%}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
            <div class="dropdown-menu">
                <a class="dropdown-item active" href="{% url 'core_pessoa_lista' %}">Clientes</a>
                <a class="dropdown-item" href="{% url 'core_veiculo_lista' %}">Veículos</a>
                <a class="dropdown-item" href="{% url 'core_movRotativos_lista' %}">Movimento Rotativo</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'core_mensalistas_lista' %}">Mensalistas</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Logout</a>
        </li>
    </ul>
{%endblock%}

{% block main %}

<div class="row">
    <div class="col">

        <h2> Tem certeza que deseja deletar: {{pessoa}}?</h2>
    
        <form method="POST" action="{% url 'core_pessoa_delete' pessoa.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Deletar</button>
            <a href="{% url 'core_pessoa_update' pessoa.id %}" class="btn btn-primary">Cancelar</a>
        </form>

    </div>
</div>
{% endblock %}