{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col">

            <h2> Tem certeza que deseja deletar: {{veiculo}}?</h2>
        
            <form method="POST" action="{% url 'core_veiculo_delete' veiculo.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Deletar</button>
                <a href="{% url 'core_veiculo_update' veiculo.id %}" class="btn btn-primary">Cancelar</a>
            </form>

        </div>

    </div>
{% endblock %}